In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('Met430k.csv')
# df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

# df1 = df.head(1000)

# df.to_sql('Test_Table', engine)

In [5]:
table_names = engine.table_names()
print(table_names)

['Cluster_Table', 'Final_Data', 'METDataClean', 'MET_Final', 'MET_Final2', 'MET_USA_clean_spatial4', 'Met430k', 'MetCountry(clustered)', 'Met_noUSA', 'SpatialMET', 'SpatialMET_test', 'artwork_cities', 'artwork_cities_final', 'cities', 'countries', 'countries_donation', 'countries_for_join', 'countries_years', 'countries_years_good', 'donation_data', 'final_donation', 'materials', 'metadata', 'table_donation', 'table_donation_good', 'worldCities', 'years']

In [ ]:
bubble = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country`", con = engine)
print("bubble: ", bubble)

In [ ]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `region`, `object_begin_date`, Count(*) AS count_value FROM Final_Data Group by `region`, `object_begin_date` ', con = engine)
print(summary.head(10))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [ ]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()