In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [6]:
################################################################################
# TEST QUERY
####################################################################

test = pd.read_sql("SELECT * FROM z_Fri_Final_Data LIMIT 5", con = engine)
print(test)

   index  Object ID artist_nationality  object_begin_date  object_end_date  \
0      0          1           American               1853             1853
1      1         12           American               1876             1876
2      2         15               None               1665             1700
3      3         16               None               1800             1900
4      4         17               None               1867             1867

                          credit_line        country classification  \
0  Gift of Heinz L. Stoppelmann, 1979  United States          Metal
1  Gift of Heinz L. Stoppelmann, 1979  United States          Metal
2     Gift of Mrs. Russell Sage, 1916         Mexico         Silver
3     Gift of Mrs. Russell Sage, 1916         Mexico          Metal
4     Gift of Mrs. Russell Sage, 1916         Mexico          Metal

     onclear_medium    artist_display_name artist_display_bio  culture  \
0              Gold  James Barton Longacre           American     None
1              Gold  James Barton Longacre           American     None
2            Silver                   None               None  Mexican
3  Bronze or copper         Mexican Artist               None  Mexican
4  Bronze or copper         Mexican Artist               None  Mexican

  object_name                                               link  acq_year  \
0        Coin   http://www.metmuseum.org/art/collection/search/1    1979.0
1        Coin  http://www.metmuseum.org/art/collection/search/12    1979.0
2        Coin  http://www.metmuseum.org/art/collection/search/15    1916.0
3        Peso  http://www.metmuseum.org/art/collection/search/16    1916.0
4        Peso  http://www.metmuseum.org/art/collection/search/17    1916.0

  Class_General         region  Cluster_ID   class  medium
0         Metal  North America          -1   metal    gold
1         Metal  North America          -1   metal    gold
2        Silver  North America          -1  silver  silver
3         Metal  North America          -1   metal  bronze
4         Metal  North America          -1   metal  bronze

In [7]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# in the right directory
df = pd.read_csv('Friday_JOINED_Final_Data.csv')
df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

C:\Users\Hugh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Object ID,artist_nationality,object_begin_date,object_end_date,credit_line,country,classification,onclear_medium,artist_display_name,artist_display_bio,culture,object_name,link,acq_year,Class_General,region,class,medium,Object ID.1,Cluster ID
0,1,American,1853,1853,NaN,NaN,Metal,Gold,NaN,American,NaN,Coin,http://www.metmuseum.org/art/collection/search/1,1979.0,Metal,NaN,metal,gold,1,-1
1,12,American,1876,1876,NaN,NaN,Metal,Gold,NaN,American,NaN,Coin,http://www.metmuseum.org/art/collection/search/12,1979.0,Metal,NaN,metal,gold,12,-1
2,15,NaN,1665,1700,NaN,Mexico,Silver,Silver,NaN,NaN,Mexican,Coin,http://www.metmuseum.org/art/collection/search/15,1916.0,Silver,NaN,silver,silver,15,-1
3,16,NaN,1800,1900,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/16,1916.0,Metal,NaN,metal,bronze,16,-1
4,17,NaN,1867,1867,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/17,1916.0,Metal,NaN,metal,bronze,17,-1
5,18,NaN,1860,1860,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/18,1916.0,Metal,NaN,metal,bronze,18,-1
6,19,NaN,1859,1859,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/19,1916.0,Metal,NaN,metal,bronze,19,-1
7,20,NaN,1860,1860,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/20,1916.0,Metal,NaN,metal,bronze,20,-1
8,21,NaN,1859,1859,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/21,1916.0,Metal,NaN,metal,bronze,21,-1
9,22,NaN,1881,1881,NaN,Guatemala,Silver,Silver,NaN,NaN,Guatemalan,Coin,http://www.metmuseum.org/art/collection/search/22,1916.0,Silver,NaN,silver,silver,22,-1
10,23,NaN,1878,1878,NaN,Guatemala,Silver,Silver,NaN,NaN,Guatemalan,Coin,http://www.metmuseum.org/art/collection/search/23,1916.0,Silver,NaN,silver,silver,23,-1
11,24,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/24,1916.0,Metal,NaN,metal,unknown_other,24,-1
12,25,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/25,1916.0,Metal,NaN,metal,unknown_other,25,-1
13,26,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/26,1916.0,Metal,NaN,metal,unknown_other,26,-1
14,27,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/27,1916.0,Metal,NaN,metal,unknown_other,27,-1
15,28,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/28,1916.0,Metal,NaN,metal,unknown_other,28,-1
16,29,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/29,1916.0,Metal,NaN,metal,unknown_other,29,-1
17,30,NaN,1885,1885,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/30,1916.0,Metal,NaN,metal,unknown_other,30,-1
18,31,NaN,1885,1885,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/31,1916.0,Metal,NaN,metal,unknown_other,31,-1
19,32,NaN,1866,1866,NaN,Mexico,Metal,Gold,NaN,NaN,Mexican,Pesos,http://www.metmuseum.org/art/collection/search/32,1909.0,Metal,NaN,metal,gold,32,-1
20,33,American,1876,1876,NaN,NaN,Glass,NaN,NaN,American,American,Bust,http://www.metmuseum.org/art/collection/search/33,1964.0,Glass,NaN,glass,glass,33,0
21,34,NaN,1847,1850,NaN,NaN,Furniture,NaN,NaN,1835–1853,American,Clock,http://www.metmuseum.org/art/collection/search/34,1970.0,Furniture,NaN,furniture,unknown_other,34,-1
22,35,NaN,1893,1895,NaN,NaN,Metal,NaN,NaN,1859–1927,American,Vase,http://www.metmuseum.org/art/collection/search/35,1904.0,Metal,NaN,metal,gold,35,-1
23,36,NaN,1884,1887,NaN,NaN,Furniture,NaN,NaN,NaN,American,NaN,http://www.metmuseum.org/art/collection/search/36,1976.0,Furniture,NaN,furniture,unknown_other,36,-1
24,37,French,1782,1785,NaN,NaN,Ceramics,NaN,NaN,French,British,Figure,http://www.metmuseum.org/art/collection/search/37,1938.0,Ceramics,Europe,ceramics,earthenware,37,-1
25,38,French,1782,1785,NaN,NaN,Ceramics,NaN,NaN,French,British,Figure,http://www.metmuseum.org/art/collection/search/38,1938.0,Ceramics,Europe,ceramics,earthenware,38,-1
26,39,NaN,1770,1800,NaN,NaN,NaN,Paper,NaN,NaN,American,Advertisement,http://www.metmuseum.org/art/collection/search/39,1918.0,NaN,NaN,unknown_other,paper,39,-1
27,40,NaN,1830,1870,NaN,NaN,Glass,NaN,NaN,American,American,NaN,http://www.metmuseum.org/art/collection/search/40,1946.0,Glass,NaN,glass,glass,40,0
28,41,American,1850,1870,NaN,NaN,Glass,NaN,NaN,American,American,NaN,http://www.metmuseum.org/art/collection/search/41,1946.0,Glass,NaN,glass,glass,41,0
29,42,NaN,1795,1810,NaN,NaN,Metal,NaN,NaN,NaN,American,Andiron,http://www.metmuseum.org/art/collection/search/42,1960.0,Metal,NaN,metal,unknown_other,42,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427562,825635,NaN,1821,1900,NaN,France,Prints,Lithograph,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,unknown_other,825635,-1
427563,825646,NaN,1860,1860,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825646,38
427564,825676,NaN,1886,1886,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825676,38
427565,825677,NaN,1826,1836,NaN,NaN,Prints,Lithograph,NaN,British,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,unknown_other,825677,-1
427566,825678,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825678,38
427567,825679,NaN,1830,1850,NaN,France,Prints,Engraving,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,engrav,825679,26
427568,825680,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825680,38
427569,825681,NaN,1821,1900,NaN,France,Prints,Engraving,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,engrav,825681,26
427570,825682,NaN,1880,1880,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825682,38
427571,825684,NaN,1838,1893,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,colored,825684,-1
427572,825685,NaN,1875,1885,NaN,NaN,Prints,NaN,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825685,38
427573,825728,NaN,1800,1900,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,etch,825728,19
427574,825729,NaN,1878,1878,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825729,38
427575,825730,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825730,38
427576,825731,NaN,1873,1873,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825731,38
427577,825732,NaN,1793,1800,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,Europe,prints,engrav,825732,26
427578,825733,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,825733,38
427579,825735,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825735,11
427580,825736,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825736,11
427581,825737,NaN,1796,1796,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,colored,825737,-1
427582,825738,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825738,11
427583,825739,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825739,11
427584,825740,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825740,11
427585,825741,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825741,11
427586,825742,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825742,11
427587,825743,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825743,11
427588,825745,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,825745,11
427589,825746,NaN,1794,1794,NaN,NaN,Prints|Ephemera,Etching,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,Europe,prints,etch,825746,19
427590,825747,NaN,1796,1796,NaN,NaN,Prints|Ephemera,Etching,NaN,American,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,NaN,prints,etch,825747,38
427591,825751,NaN,-1600,-1050,NaN,Cyprus,NaN,Gold,NaN,NaN,Cypriot,Roundel,http://www.metmuseum.org/art/collection/search...,1874.0,Silver,Asia,silver,gold,825751,-1

In [8]:
# check column names for problems

list (df)

['Object ID',
 'artist_nationality',
 'object_begin_date',
 'object_end_date',
 'credit_line',
 'country',
 'classification',
 'onclear_medium',
 'artist_display_name',
 'artist_display_bio',
 'culture',
 'object_name',
 'link',
 'acq_year',
 'Class_General',
 'region',
 'class',
 'medium',
 'Object ID.1',
 'Cluster ID']

In [9]:
df.to_sql('Final_Data', engine)

In [ ]:
# select only necessary columns
df_1 = df[['Object ID', 'class', 'medium']]
print(df_1.head(5))

In [ ]:
df_1.columns = ['ID', 'class', 'new_medium']

In [ ]:
# df1 = df.head(1000)

df.to_sql('Final_Data', engine)

In [ ]:
table_names = engine.table_names()
print(table_names)

In [ ]:
max_class = pd.read_sql("SELECT MAX(COUNT(*)) from Final_Data GROUP BY `Class_General`", con = engine)
print(max_class)

In [ ]:
bubble = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country`", con = engine)
print("bubble: ", bubble)

In [ ]:
bubble_print = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data WHERE `Class_General` = 'Prints' Group by `region`, `country`", con = engine)
print("bubble_print: ", bubble_print)

In [ ]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `Class_General`, `object_begin_date`, Count(*) AS count_value FROM Final_Data GROUP BY `Class_General`, `object_begin_date` ', con = engine)
print(summary.head(100))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [ ]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()