In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [5]:
################################################################################
# TEST QUERY
####################################################################

test = pd.read_sql("SELECT * FROM Final_Data LIMIT 5", con = engine)
print(test)

   index  Object ID artist_nationality  object_begin_date  object_end_date  \
0      0          1           American               1853             1853
1      1         12           American               1876             1876
2      2         15               None               1665             1700
3      3         16               None               1800             1900
4      4         17               None               1867             1867

                          credit_line        country classification  \
0  Gift of Heinz L. Stoppelmann, 1979  United States          Metal
1  Gift of Heinz L. Stoppelmann, 1979  United States          Metal
2     Gift of Mrs. Russell Sage, 1916         Mexico         Silver
3     Gift of Mrs. Russell Sage, 1916         Mexico          Metal
4     Gift of Mrs. Russell Sage, 1916         Mexico          Metal

     onclear_medium    artist_display_name     ...      culture object_name  \
0              Gold  James Barton Longacre     ...         None        Coin
1              Gold  James Barton Longacre     ...         None        Coin
2            Silver                   None     ...      Mexican        Coin
3  Bronze or copper         Mexican Artist     ...      Mexican        Peso
4  Bronze or copper         Mexican Artist     ...      Mexican        Peso

                                                link acq_year  Class_General  \
0   http://www.metmuseum.org/art/collection/search/1   1979.0          Metal
1  http://www.metmuseum.org/art/collection/search/12   1979.0          Metal
2  http://www.metmuseum.org/art/collection/search/15   1916.0         Silver
3  http://www.metmuseum.org/art/collection/search/16   1916.0          Metal
4  http://www.metmuseum.org/art/collection/search/17   1916.0          Metal

          region   class  medium Object ID.1  Cluster_ID
0  North America   metal    gold           1          -1
1  North America   metal    gold          12          -1
2  Latin America  silver  silver          15          -1
3  Latin America   metal  bronze          16          -1
4  Latin America   metal  bronze          17          -1

[5 rows x 21 columns]

In [ ]:
specific_test = pd.read_sql("SELECT * FROM Final_Data WHERE `Class_General` = 'Prints'", con = engine)

print(specific_test.head(5))

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# in the right directory
df = pd.read_csv('Friday_JOINED_Final_Data.csv')
df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

In [ ]:
# check column names for problems

list (df)

In [ ]:
df.to_sql('Final_Data', engine)

In [ ]:
# select only necessary columns
df_1 = df[['Object ID', 'class', 'medium']]
print(df_1.head(5))

In [ ]:
df_1.columns = ['ID', 'class', 'new_medium']

In [ ]:
# df1 = df.head(1000)

df.to_sql('Final_Data', engine)

In [ ]:
table_names = engine.table_names()
print(table_names)

In [ ]:
max_class = pd.read_sql("SELECT MAX(COUNT(*)) from Final_Data GROUP BY `Class_General`", con = engine)
print(max_class)

In [ ]:
bubble = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country`", con = engine)
print("bubble: ", bubble)

In [ ]:
bubble_print = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data WHERE `Class_General` = 'Prints' Group by `region`, `country`", con = engine)
print("bubble_print: ", bubble_print)

In [ ]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `Class_General`, `object_begin_date`, Count(*) AS count_value FROM Final_Data GROUP BY `Class_General`, `object_begin_date` ', con = engine)
print(summary.head(100))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [ ]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()