In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [5]:
table_names = engine.table_names()
print(table_names)

['Cluster_Chart', 'Cluster_Data', 'Cluster_Labels', 'Cluster_Output', 'Cluster_keys', 'Country_Per_Cluster', 'MetCountry(clustered)', 'donation_data', 'z_Clustet_Table', 'z_Final_Data', 'z_Fri_Final_Data', 'z_METDataClean', 'z_MET_Final', 'z_MET_Final2', 'z_MET_USA_clean_spatial4', 'z_Met430k', 'z_Met_noUSA', 'z_SpatialMET', 'z_SpatialMET_test', 'z_artwork_cities', 'z_artwork_cities_final', 'z_cities', 'z_countries', 'z_countries_donation', 'z_countries_for_join', 'z_countries_years', 'z_countries_years_good', 'z_final_donation', 'z_materials', 'z_metadata', 'z_pre_tues_Final_Data', 'z_table_donation', 'z_table_donation_good', 'z_worldCities', 'z_years']

In [6]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# in the right directory
df = pd.read_csv('Tuesday_Data.csv')
df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

C:\Users\Hugh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Object ID,artist_nationality,object_begin_date,object_end_date,credit_line,country,classification,onclear_medium,artist_display_name,artist_display_bio,culture,object_name,link,acq_year,Class_General,region,class,medium,Cluster_ID,clusterIDs
0,1,American,1853,1853,NaN,NaN,Metal,Gold,NaN,American,NaN,Coin,http://www.metmuseum.org/art/collection/search/1,1979.0,Metal,NaN,metal,gold,-1,-1
1,12,American,1876,1876,NaN,NaN,Metal,Gold,NaN,American,NaN,Coin,http://www.metmuseum.org/art/collection/search/12,1979.0,Metal,NaN,metal,gold,-1,-1
2,15,NaN,1665,1700,NaN,Mexico,Silver,Silver,NaN,NaN,Mexican,Coin,http://www.metmuseum.org/art/collection/search/15,1916.0,Silver,NaN,silver,silver,-1,0
3,16,NaN,1800,1900,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/16,1916.0,Metal,NaN,metal,bronze,-1,-1
4,17,NaN,1867,1867,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/17,1916.0,Metal,NaN,metal,bronze,-1,-1
5,18,NaN,1860,1860,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/18,1916.0,Metal,NaN,metal,bronze,-1,-1
6,19,NaN,1859,1859,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/19,1916.0,Metal,NaN,metal,bronze,-1,-1
7,20,NaN,1860,1860,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/20,1916.0,Metal,NaN,metal,bronze,-1,-1
8,21,NaN,1859,1859,NaN,Mexico,Metal,NaN,NaN,NaN,Mexican,Peso,http://www.metmuseum.org/art/collection/search/21,1916.0,Metal,NaN,metal,bronze,-1,-1
9,22,NaN,1881,1881,NaN,Guatemala,Silver,Silver,NaN,NaN,Guatemalan,Coin,http://www.metmuseum.org/art/collection/search/22,1916.0,Silver,NaN,silver,silver,-1,0
10,23,NaN,1878,1878,NaN,Guatemala,Silver,Silver,NaN,NaN,Guatemalan,Coin,http://www.metmuseum.org/art/collection/search/23,1916.0,Silver,NaN,silver,silver,-1,0
11,24,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/24,1916.0,Metal,NaN,metal,unknown_other,-1,-1
12,25,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/25,1916.0,Metal,NaN,metal,unknown_other,-1,-1
13,26,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/26,1916.0,Metal,NaN,metal,unknown_other,-1,-1
14,27,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/27,1916.0,Metal,NaN,metal,unknown_other,-1,-1
15,28,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/28,1916.0,Metal,NaN,metal,unknown_other,-1,-1
16,29,NaN,1860,1870,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/29,1916.0,Metal,NaN,metal,unknown_other,-1,-1
17,30,NaN,1885,1885,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/30,1916.0,Metal,NaN,metal,unknown_other,-1,-1
18,31,NaN,1885,1885,NaN,Mexico,Metal,Nickel,NaN,NaN,Mexican,Centavos,http://www.metmuseum.org/art/collection/search/31,1916.0,Metal,NaN,metal,unknown_other,-1,-1
19,32,NaN,1866,1866,NaN,Mexico,Metal,Gold,NaN,NaN,Mexican,Pesos,http://www.metmuseum.org/art/collection/search/32,1909.0,Metal,NaN,metal,gold,-1,-1
20,33,American,1876,1876,NaN,NaN,Glass,NaN,NaN,American,American,Bust,http://www.metmuseum.org/art/collection/search/33,1964.0,Glass,NaN,glass,glass,0,1
21,34,NaN,1847,1850,NaN,NaN,Furniture,NaN,NaN,1835–1853,American,Clock,http://www.metmuseum.org/art/collection/search/34,1970.0,Furniture,NaN,furniture,unknown_other,-1,2
22,35,NaN,1893,1895,NaN,NaN,Metal,NaN,NaN,1859–1927,American,Vase,http://www.metmuseum.org/art/collection/search/35,1904.0,Metal,NaN,metal,gold,-1,-1
23,36,NaN,1884,1887,NaN,NaN,Furniture,NaN,NaN,NaN,American,NaN,http://www.metmuseum.org/art/collection/search/36,1976.0,Furniture,NaN,furniture,unknown_other,-1,-1
24,37,French,1782,1785,NaN,NaN,Ceramics,NaN,NaN,French,British,Figure,http://www.metmuseum.org/art/collection/search/37,1938.0,Ceramics,Europe,ceramics,earthenware,-1,-1
25,38,French,1782,1785,NaN,NaN,Ceramics,NaN,NaN,French,British,Figure,http://www.metmuseum.org/art/collection/search/38,1938.0,Ceramics,Europe,ceramics,earthenware,-1,-1
26,39,NaN,1770,1800,NaN,NaN,NaN,Paper,NaN,NaN,American,Advertisement,http://www.metmuseum.org/art/collection/search/39,1918.0,NaN,NaN,unknown_other,paper,-1,-1
27,40,NaN,1830,1870,NaN,NaN,Glass,NaN,NaN,American,American,NaN,http://www.metmuseum.org/art/collection/search/40,1946.0,Glass,NaN,glass,glass,0,1
28,41,American,1850,1870,NaN,NaN,Glass,NaN,NaN,American,American,NaN,http://www.metmuseum.org/art/collection/search/41,1946.0,Glass,NaN,glass,glass,0,1
29,42,NaN,1795,1810,NaN,NaN,Metal,NaN,NaN,NaN,American,Andiron,http://www.metmuseum.org/art/collection/search/42,1960.0,Metal,NaN,metal,unknown_other,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427562,825635,NaN,1821,1900,NaN,France,Prints,Lithograph,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,unknown_other,-1,169
427563,825646,NaN,1860,1860,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427564,825676,NaN,1886,1886,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427565,825677,NaN,1826,1836,NaN,NaN,Prints,Lithograph,NaN,British,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,unknown_other,-1,169
427566,825678,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427567,825679,NaN,1830,1850,NaN,France,Prints,Engraving,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,engrav,26,279
427568,825680,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427569,825681,NaN,1821,1900,NaN,France,Prints,Engraving,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1938.0,Prints,Europe,prints,engrav,26,279
427570,825682,NaN,1880,1880,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427571,825684,NaN,1838,1893,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,colored,-1,89
427572,825685,NaN,1875,1885,NaN,NaN,Prints,NaN,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427573,825728,NaN,1800,1900,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,etch,19,334
427574,825729,NaN,1878,1878,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427575,825730,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427576,825731,NaN,1873,1873,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427577,825732,NaN,1793,1800,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,Europe,prints,engrav,26,309
427578,825733,NaN,1875,1885,NaN,NaN,Prints,Etching,NaN,American,NaN,Print,http://www.metmuseum.org/art/collection/search...,1967.0,Prints,NaN,prints,etch,38,303
427579,825735,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427580,825736,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427581,825737,NaN,1796,1796,NaN,France,Prints,NaN,NaN,French,NaN,Print,http://www.metmuseum.org/art/collection/search...,1950.0,Prints,Europe,prints,colored,-1,89
427582,825738,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427583,825739,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427584,825740,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427585,825741,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427586,825742,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427587,825743,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427588,825745,NaN,1830,1870,NaN,NaN,NaN,NaN,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1958.0,Drawings,Europe,drawings,ink,11,60
427589,825746,NaN,1794,1794,NaN,NaN,Prints|Ephemera,Etching,NaN,British,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,Europe,prints,etch,19,303
427590,825747,NaN,1796,1796,NaN,NaN,Prints|Ephemera,Etching,NaN,American,NaN,NaN,http://www.metmuseum.org/art/collection/search...,1926.0,Prints,NaN,prints,etch,38,303
427591,825751,NaN,-1600,-1050,NaN,Cyprus,NaN,Gold,NaN,NaN,Cypriot,Roundel,http://www.metmuseum.org/art/collection/search...,1874.0,Silver,Asia,silver,gold,-1,249

In [7]:
df.to_sql('Final_Data', engine)

In [ ]:
################################################################################
# TEST QUERY
####################################################################

test = pd.read_sql("SELECT * FROM Final_Data LIMIT 5", con = engine)
print(test)

In [ ]:
specific_test = pd.read_sql("SELECT * FROM Final_Data WHERE `Class_General` = 'Prints'", con = engine)

print(specific_test.head(5))

In [ ]:
# check column names for problems

list (df)

In [ ]:
# select only necessary columns
df_1 = df[['Object ID', 'class', 'medium']]
print(df_1.head(5))

In [ ]:
df_1.columns = ['ID', 'class', 'new_medium']

In [ ]:
# df1 = df.head(1000)

df.to_sql('Final_Data', engine)

In [ ]:
max_class = pd.read_sql("SELECT MAX(COUNT(*)) from Final_Data GROUP BY `Class_General`", con = engine)
print(max_class)

In [ ]:
bubble = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country`", con = engine)
print("bubble: ", bubble)

In [ ]:
bubble_print = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data WHERE `Class_General` = 'Prints' Group by `region`, `country`", con = engine)
print("bubble_print: ", bubble_print)

In [ ]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `Class_General`, `object_begin_date`, Count(*) AS count_value FROM Final_Data GROUP BY `Class_General`, `object_begin_date` ', con = engine)
print(summary.head(100))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [ ]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()