In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('ClusterData2.csv')
# df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

In [5]:
# check column names
list(df)

NameError: name 'df' is not defined

In [ ]:
# select only necessary columns
df_1 = df[['Object ID', 'class', 'medium']]
print(df_1.head(5))

In [ ]:
# df1 = df.head(1000)

df_1.to_sql('Cluster_keys', engine)

In [ ]:
table_names = engine.table_names()
print(table_names)

In [9]:
################################################################################
# TEST QUERY
####################################################################

test = pd.read_sql("SELECT * FROM Final_Data LIMIT 50", con = engine)
print(test)

    index  Object ID artist_nationality  object_begin_date  object_end_date  \
0       0          1           American               1853             1853
1       1         12           American               1876             1876
2       2         15               None               1665             1700
3       3         16               None               1800             1900
4       4         17               None               1867             1867
5       5         18               None               1860             1860
6       6         19               None               1859             1859
7       7         20               None               1860             1860
8       8         21               None               1859             1859
9       9         22               None               1881             1881
10     10         23               None               1878             1878
11     11         24               None               1860             1870
12     12         25               None               1860             1870
13     13         26               None               1860             1870
14     14         27               None               1860             1870
15     15         28               None               1860             1870
16     16         29               None               1860             1870
17     17         30               None               1885             1885
18     18         31               None               1885             1885
19     19         32               None               1866             1866
20     20         33           American               1876             1876
21     21         34               None               1847             1850
22     22         35               None               1893             1895
23     23         36               None               1884             1887
24     24         37             French               1782             1785
25     25         38             French               1782             1785
26     26         39               None               1770             1800
27     27         40               None               1830             1870
28     28         41           American               1850             1870
29     29         42               None               1795             1810
30     30         43               None               1795             1810
31     31         64               None               1795             1810
32     32         65               None               1795             1810
33     33         72               None               1750             1780
34     34         73               None               1750             1780
35     35         78               None               1697             1700
36     36         79               None               1697             1700
37     37         80               None               1760             1780
38     38         92               None               1795             1815
39     39         93               None               1795             1815
40     40        100               None               1700             1800
41     41        101               None               1700             1800
42     42        106               None               1797             1800
43     43        107               None               1797             1800
44     44        108           American               1792             1814
45     45        109           American               1792             1814
46     46        110               None               1803             1828
47     47        111               None               1803             1828
48     48        112               None               1807             1810
49     49        113               None               1807             1810

                                          credit_line         country  \
0                  Gift of Heinz L. Stoppelmann, 1979   United States
1                  Gift of Heinz L. Stoppelmann, 1979   United States
2                     Gift of Mrs. Russell Sage, 1916          Mexico
3                     Gift of Mrs. Russell Sage, 1916          Mexico
4                     Gift of Mrs. Russell Sage, 1916          Mexico
5                     Gift of Mrs. Russell Sage, 1916          Mexico
6                     Gift of Mrs. Russell Sage, 1916          Mexico
7                     Gift of Mrs. Russell Sage, 1916          Mexico
8                     Gift of Mrs. Russell Sage, 1916          Mexico
9                     Gift of Mrs. Russell Sage, 1916       Guatemala
10                    Gift of Mrs. Russell Sage, 1916       Guatemala
11                    Gift of Mrs. Russell Sage, 1916          Mexico
12                    Gift of Mrs. Russell Sage, 1916          Mexico
13                    Gift of Mrs. Russell Sage, 1916          Mexico
14                    Gift of Mrs. Russell Sage, 1916          Mexico
15                    Gift of Mrs. Russell Sage, 1916          Mexico
16                    Gift of Mrs. Russell Sage, 1916          Mexico
17                    Gift of Mrs. Russell Sage, 1916          Mexico
18                    Gift of Mrs. Russell Sage, 1916          Mexico
19                    Gift of H. R. Ickelheimer, 1909          Mexico
20               Gift of Teunis G. B. Cortelyou, 1964   United States
21                      Gift of Mrs. Paul Moore, 1970   United States
22                      Gift of Edward D. Adams, 1904   United States
23              Gift of Charlotte Pickman-Gertz, 1976   United States
24                    Harris Brisbane Dick Fund, 1938  United Kingdom
25                    Harris Brisbane Dick Fund, 1938  United Kingdom
26                                  Rogers Fund, 1918   United States
27            Gift of Mrs. Emily Winthrop Miles, 1946   United States
28            Gift of Mrs. Emily Winthrop Miles, 1946   United States
29                          Sansbury-Mills Fund, 1960   United States
30                          Sansbury-Mills Fund, 1960   United States
31        Gift of Mr. and Mrs. William A. Moore, 1923   United States
32        Gift of Mr. and Mrs. William A. Moore, 1923   United States
33                         Morris K. Jesup Fund, 1936   United States
34                         Morris K. Jesup Fund, 1936   United States
35                                  Rogers Fund, 1937           Spain
36                                  Rogers Fund, 1937           Spain
37  Gift of James DeLancey Verplanck and John Baya...   United States
38  Gift of the Members of the Committee of the Be...   United States
39  Gift of the Members of the Committee of the Be...   United States
40                 Gift of Mrs. J. Insley Blair, 1949   United States
41                 Gift of Mrs. J. Insley Blair, 1949   United States
42            Friends of the American Wing Fund, 1984   United States
43            Friends of the American Wing Fund, 1984   United States
44  Purchase, Mr. and Mrs. George M. Kaufman Gift,...   United States
45  Purchase, Mr. and Mrs. George M. Kaufman Gift,...   United States
46                  Bequest of W. Gedney Beatty, 1941   United States
47                  Bequest of W. Gedney Beatty, 1941   United States
48  Gift of The Wunsch Americana Foundation, Inc.,...   United States
49  Gift of The Wunsch Americana Foundation, Inc.,...   United States

        classification                                     onclear_medium  \
0                Metal                                               Gold
1                Metal                                               Gold
2               Silver                                             Silver
3                Metal                                   Bronze or copper
4                Metal                                   Bronze or copper
5                Metal                                   Bronze or copper
6                Metal                                   Bronze or copper
7                Metal                                   Bronze or copper
8                Metal                                   Bronze or copper
9               Silver                                             Silver
10              Silver                                             Silver
11               Metal                                             Nickel
12               Metal                                             Nickel
13               Metal                                             Nickel
14               Metal                                             Nickel
15               Metal                                             Nickel
16               Metal                                             Nickel
17               Metal                                             Nickel
18               Metal                                             Nickel
19               Metal                                               Gold
20               Glass                                      Pressed glass
21           Furniture                                Mahogany, laminated
22               Metal  Gold, amethysts, spessartites, tourmalines, fr...
23           Furniture                                  Oak, tulip poplar
24            Ceramics                                Earthenware, basalt
25            Ceramics                                Earthenware, basalt
26  Natural Substances                                              Paper
27               Glass                                      Pressed glass
28               Glass                                      Pressed glass
29               Metal                                        Brass, iron
30               Metal                                        Brass, iron
31               Metal                                        Brass, iron
32               Metal                                        Brass, iron
33               Metal                                        Brass, iron
34               Metal                                        Brass, iron
35               Metal                                        Brass, iron
36               Metal                                        Brass, iron
37               Metal                                        Brass, iron
38               Metal                                        Brass, iron
39               Metal                                        Brass, iron
40               Metal                                               Iron
41               Metal                                               Iron
42               Metal                                              Brass
43               Metal                                              Brass
44               Metal                                     Brass and iron
45               Metal                                     Brass and iron
46               Metal                                              Brass
47               Metal                                              Brass
48               Metal                                        Brass, iron
49               Metal                                        Brass, iron

                  artist_display_name    artist_display_bio  \
0               James Barton Longacre              American
1               James Barton Longacre              American
2                                None                  None
3                      Mexican Artist                  None
4                      Mexican Artist                  None
5                      Mexican Artist                  None
6                                None                  None
7                                None                  None
8                                None                  None
9                                None                  None
10                               None                  None
11                               None                  None
12                               None                  None
13                               None                  None
14                               None                  None
15                               None                  None
16                               None                  None
17                               None                  None
18                               None                  None
19                     Mexican Artist                  None
20           James Gillinder and Sons              American
21  Forestville Manufacturing Company             1835–1853
22     Paulding Farnham|Tiffany & Co.             1859–1927
23                   Conrad Henninger  active ca. 1888–1932
24                     Pierre Stephan                French
25                     Pierre Stephan                French
26                               None                  None
27          New England Glass Company              American
28                Union Glass Company              American
29                               None                  None
30                               None                  None
31                               None                  None
32                               None                  None
33                               None                  None
34                               None                  None
35                               None                  None
36                               None                  None
37                               None                  None
38                               None                  None
39                               None                  None
40                               None                  None
41                               None                  None
42                               None                  None
43                               None                  None
44                        John Bailey              American
45                        John Bailey              American
46                        James Davis        active 1803–28
47                        James Davis        active 1803–28
48                      John Molineux  active ca. 1800–1820
49                      John Molineux  active ca. 1800–1820

                culture    object_name  \
0                  None           Coin
1                  None           Coin
2               Mexican           Coin
3               Mexican           Peso
4               Mexican           Peso
5               Mexican           Peso
6               Mexican           Peso
7               Mexican           Peso
8               Mexican           Peso
9            Guatemalan           Coin
10           Guatemalan           Coin
11              Mexican       Centavos
12              Mexican       Centavos
13              Mexican       Centavos
14              Mexican       Centavos
15              Mexican       Centavos
16              Mexican       Centavos
17              Mexican       Centavos
18              Mexican       Centavos
19              Mexican          Pesos
20             American           Bust
21             American          Clock
22             American           Vase
23             American     Side Chair
24              British         Figure
25              British         Figure
26             American  Advertisement
27             American      Ale glass
28             American      Ale glass
29             American        Andiron
30             American        Andiron
31             American        Andiron
32             American        Andiron
33             American        Andiron
34             American        Andiron
35                 None        Andiron
36                 None        Andiron
37                 None        Andiron
38             American        Andiron
39             American        Andiron
40  American or British        Andiron
41  American or British        Andiron
42             American        Andiron
43             American        Andiron
44             American        Andiron
45             American        Andiron
46             American        Andiron
47             American        Andiron
48             American        Andiron
49             American        Andiron

                                                 link  acq_year  \
0    http://www.metmuseum.org/art/collection/search/1    1979.0
1   http://www.metmuseum.org/art/collection/search/12    1979.0
2   http://www.metmuseum.org/art/collection/search/15    1916.0
3   http://www.metmuseum.org/art/collection/search/16    1916.0
4   http://www.metmuseum.org/art/collection/search/17    1916.0
5   http://www.metmuseum.org/art/collection/search/18    1916.0
6   http://www.metmuseum.org/art/collection/search/19    1916.0
7   http://www.metmuseum.org/art/collection/search/20    1916.0
8   http://www.metmuseum.org/art/collection/search/21    1916.0
9   http://www.metmuseum.org/art/collection/search/22    1916.0
10  http://www.metmuseum.org/art/collection/search/23    1916.0
11  http://www.metmuseum.org/art/collection/search/24    1916.0
12  http://www.metmuseum.org/art/collection/search/25    1916.0
13  http://www.metmuseum.org/art/collection/search/26    1916.0
14  http://www.metmuseum.org/art/collection/search/27    1916.0
15  http://www.metmuseum.org/art/collection/search/28    1916.0
16  http://www.metmuseum.org/art/collection/search/29    1916.0
17  http://www.metmuseum.org/art/collection/search/30    1916.0
18  http://www.metmuseum.org/art/collection/search/31    1916.0
19  http://www.metmuseum.org/art/collection/search/32    1909.0
20  http://www.metmuseum.org/art/collection/search/33    1964.0
21  http://www.metmuseum.org/art/collection/search/34    1970.0
22  http://www.metmuseum.org/art/collection/search/35    1904.0
23  http://www.metmuseum.org/art/collection/search/36    1976.0
24  http://www.metmuseum.org/art/collection/search/37    1938.0
25  http://www.metmuseum.org/art/collection/search/38    1938.0
26  http://www.metmuseum.org/art/collection/search/39    1918.0
27  http://www.metmuseum.org/art/collection/search/40    1946.0
28  http://www.metmuseum.org/art/collection/search/41    1946.0
29  http://www.metmuseum.org/art/collection/search/42    1960.0
30  http://www.metmuseum.org/art/collection/search/43    1960.0
31  http://www.metmuseum.org/art/collection/search/64    1923.0
32  http://www.metmuseum.org/art/collection/search/65    1923.0
33  http://www.metmuseum.org/art/collection/search/72    1936.0
34  http://www.metmuseum.org/art/collection/search/73    1936.0
35  http://www.metmuseum.org/art/collection/search/78    1937.0
36  http://www.metmuseum.org/art/collection/search/79    1937.0
37  http://www.metmuseum.org/art/collection/search/80    1939.0
38  http://www.metmuseum.org/art/collection/search/92    1946.0
39  http://www.metmuseum.org/art/collection/search/93    1946.0
40  http://www.metmuseum.org/art/collection/search...    1949.0
41  http://www.metmuseum.org/art/collection/search...    1949.0
42  http://www.metmuseum.org/art/collection/search...    1984.0
43  http://www.metmuseum.org/art/collection/search...    1984.0
44  http://www.metmuseum.org/art/collection/search...    1989.0
45  http://www.metmuseum.org/art/collection/search...    1989.0
46  http://www.metmuseum.org/art/collection/search...    1941.0
47  http://www.metmuseum.org/art/collection/search...    1941.0
48  http://www.metmuseum.org/art/collection/search...    1985.0
49  http://www.metmuseum.org/art/collection/search...    1985.0

         Class_General         region  Cluster_ID          class  \
0                Metal  North America          -1          metal
1                Metal  North America          -1          metal
2               Silver  North America          -1         silver
3                Metal  North America          -1          metal
4                Metal  North America          -1          metal

In [ ]:
max_class = pd.read_sql("SELECT MAX(COUNT(*)) from Final_Data GROUP BY `Class_General`", con = engine)
print(max_class)

In [ ]:
bubble = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country`", con = engine)
print("bubble: ", bubble)

In [ ]:
bubble_print = pd.read_sql("SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data WHERE `Class_General` = 'Prints' Group by `region`, `country`", con = engine)
print("bubble_print: ", bubble_print)

In [ ]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `Class_General`, `object_begin_date`, Count(*) AS count_value FROM Final_Data GROUP BY `Class_General`, `object_begin_date` ', con = engine)
print(summary.head(100))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [ ]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()