In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('Met430k.csv')
# df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

# df1 = df.head(1000)

# df.to_sql('Test_Table', engine)

In [9]:
test = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)

In [ ]:
test = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [6]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

   index  Unnamed: 0  Object ID artist_nationality  object_begin_date  \
0      0           0          1           American               1853
1      1           1         12           American               1876

   object_end_date                         credit_line        country  \
0             1853  Gift of Heinz L. Stoppelmann, 1979  United States
1             1876  Gift of Heinz L. Stoppelmann, 1979  United States

  classification medium    artist_display_name artist_display_bio culture  \
0          Metal   Gold  James Barton Longacre           American    None
1          Metal   Gold  James Barton Longacre           American    None

  object_name                                               link  acq_year  \
0        Coin   http://www.metmuseum.org/art/collection/search/1    1979.0
1        Coin  http://www.metmuseum.org/art/collection/search/12    1979.0

  Class_General         region
0         Metal  North America
1         Metal  North America

In [13]:
# summary
summary = pd.read_sql('SELECT `region`, `object_begin_date`, Count(*) AS count_value FROM Final_Data Group by `region`, `object_begin_date` ', con = engine)
print(summary.head(10))

          region  object_begin_date  count_value
0  North America               1853          178
1  North America               1876          606
2  Latin America               1665            5
3  Latin America               1800          342
4  Latin America               1867            2
5  Latin America               1860           57
6  Latin America               1859            5
7  Latin America               1881            1
8  Latin America               1878            2
9  Latin America               1885           75

In [15]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

   index  Unnamed: 0  Object ID artist_nationality  object_begin_date  \
0      0           0          1           American               1853
1      1           1         12           American               1876
2     20          20         33           American               1876
3     21          21         34               None               1847
4     22          22         35               None               1893
5     23          23         36               None               1884
6     26          26         39               None               1770
7     27          27         40               None               1830
8     28          28         41           American               1850
9     29          29         42               None               1795

   object_end_date                              credit_line        country  \
0             1853       Gift of Heinz L. Stoppelmann, 1979  United States
1             1876       Gift of Heinz L. Stoppelmann, 1979  United States
2             1876     Gift of Teunis G. B. Cortelyou, 1964  United States
3             1850            Gift of Mrs. Paul Moore, 1970  United States
4             1895            Gift of Edward D. Adams, 1904  United States
5             1887    Gift of Charlotte Pickman-Gertz, 1976  United States
6             1800                        Rogers Fund, 1918  United States
7             1870  Gift of Mrs. Emily Winthrop Miles, 1946  United States
8             1870  Gift of Mrs. Emily Winthrop Miles, 1946  United States
9             1810                Sansbury-Mills Fund, 1960  United States

       classification                                             medium  \
0               Metal                                               Gold
1               Metal                                               Gold
2               Glass                                      Pressed glass
3           Furniture                                Mahogany, laminated
4               Metal  Gold, amethysts, spessartites, tourmalines, fr...
5           Furniture                                  Oak, tulip poplar
6  Natural Substances                                              Paper
7               Glass                                      Pressed glass
8               Glass                                      Pressed glass
9               Metal                                        Brass, iron

                 artist_display_name    artist_display_bio   culture  \
0              James Barton Longacre              American      None
1              James Barton Longacre              American      None
2           James Gillinder and Sons              American  American
3  Forestville Manufacturing Company             1835–1853  American
4     Paulding Farnham|Tiffany & Co.             1859–1927  American
5                   Conrad Henninger  active ca. 1888–1932  American
6                               None                  None  American
7          New England Glass Company              American  American
8                Union Glass Company              American  American
9                               None                  None  American

     object_name                                               link  acq_year  \
0           Coin   http://www.metmuseum.org/art/collection/search/1    1979.0
1           Coin  http://www.metmuseum.org/art/collection/search/12    1979.0
2           Bust  http://www.metmuseum.org/art/collection/search/33    1964.0
3          Clock  http://www.metmuseum.org/art/collection/search/34    1970.0
4           Vase  http://www.metmuseum.org/art/collection/search/35    1904.0
5     Side Chair  http://www.metmuseum.org/art/collection/search/36    1976.0
6  Advertisement  http://www.metmuseum.org/art/collection/search/39    1918.0
7      Ale glass  http://www.metmuseum.org/art/collection/search/40    1946.0
8      Ale glass  http://www.metmuseum.org/art/collection/search/41    1946.0
9        Andiron  http://www.metmuseum.org/art/collection/search/42    1960.0

        Class_General         region
0               Metal  North America
1               Metal  North America
2               Glass  North America
3           Furniture  North America
4               Metal  North America
5           Furniture  North America
6  Natural substances  North America
7               Glass  North America
8               Glass  North America
9               Metal  North America