In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [3]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [4]:
#test connection
conn

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('Met430k.csv')
# df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

# df1 = df.head(1000)

# df.to_sql('Test_Table', engine)

In [9]:
test = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)

In [ ]:
test = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [6]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

   index  Unnamed: 0  Object ID artist_nationality  object_begin_date  \
0      0           0          1           American               1853
1      1           1         12           American               1876

   object_end_date                         credit_line        country  \
0             1853  Gift of Heinz L. Stoppelmann, 1979  United States
1             1876  Gift of Heinz L. Stoppelmann, 1979  United States

  classification medium    artist_display_name artist_display_bio culture  \
0          Metal   Gold  James Barton Longacre           American    None
1          Metal   Gold  James Barton Longacre           American    None

  object_name                                               link  acq_year  \
0        Coin   http://www.metmuseum.org/art/collection/search/1    1979.0
1        Coin  http://www.metmuseum.org/art/collection/search/12    1979.0

  Class_General         region
0         Metal  North America
1         Metal  North America

In [13]:
# summary
summary = pd.read_sql('SELECT `region`, `object_begin_date`, Count(*) AS count_value FROM Final_Data Group by `region`, `object_begin_date` ', con = engine)
print(summary.head(10))

          region  object_begin_date  count_value
0  North America               1853          178
1  North America               1876          606
2  Latin America               1665            5
3  Latin America               1800          342
4  Latin America               1867            2
5  Latin America               1860           57
6  Latin America               1859            5
7  Latin America               1881            1
8  Latin America               1878            2
9  Latin America               1885           75