In [1]:
import pandas as pd
import numpy as np

#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('Met430k.csv')
# df.replace(r'\s+', np.nan, regex=True)

In [2]:
import pymysql 
import sqlalchemy

In [3]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [4]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [5]:
#test connection
conn

In [6]:
#Change SQL_Table_Name for the name of your newly created table

df1 = df.head(1000)

df.to_sql('Test_Table', engine)

In [7]:
test = pd.read_sql('SELECT `region`, `country`, Count(*) FROM Final_Data Group by `region`, `country` ', con = engine)

In [8]:
test.head(10)

          region         country  Count(*)
0  North America   United States    113767
1  Latin America          Mexico      3419
2  Latin America       Guatemala       137
3         Europe  United Kingdom     31654
4         Europe           Spain      4803
5         Europe     Netherlands     11438
6         Europe          France     61254
7  North America          Canada      1350
8           Asia           China     16460
9         Europe           Italy     41026