In [1]:
import pandas as pd
import numpy as np
import pymysql 
import sqlalchemy

In [2]:
# import the SQLAlchemy libraries
from sqlalchemy import create_engine

# create the connection string to the MySQL database
engine = create_engine('mysql+pymysql://ucfnjma:jucahedagu@dev.spatialdatacapture.org:3306/ucfnjma')

# make the connection to the database
conn = engine.raw_connection()

In [4]:
#test engine
engine

Engine(mysql+pymysql://ucfnjma:***@dev.spatialdatacapture.org:3306/ucfnjma)

In [5]:
#test connection
conn

In [ ]:
########
# To upload a dataframe
#########


#Change fileName with the .csv file you want to read into python
# df = pd.read_csv('Met430k.csv')
# df.replace(r'\s+', np.nan, regex=True)

#Change SQL_Table_Name for the name of your newly created table

# df1 = df.head(1000)

# df.to_sql('Test_Table', engine)

In [7]:
table_names = engine.table_names()
print(table_names)

['Cluster_Table', 'Final_Data', 'METDataClean', 'MET_Final', 'MET_Final2', 'MET_USA_clean_spatial4', 'Met430k', 'MetCountry(clustered)', 'Met_noUSA', 'SpatialMET', 'SpatialMET_test', 'artwork_cities', 'artwork_cities_final', 'cities', 'countries', 'countries_donation', 'countries_for_join', 'countries_years', 'countries_years_good', 'donation_data', 'final_donation', 'materials', 'metadata', 'table_donation', 'table_donation_good', 'worldCities', 'years']

In [12]:
all_data = pd.read_sql("Select * FROM Final_Data LIMIT 10", con = engine)
print(all_data)

   index  Unnamed: 0  Object ID artist_nationality  object_begin_date  \
0      0           0          1           American               1853
1      1           1         12           American               1876
2      2           2         15               None               1665
3      3           3         16               None               1800
4      4           4         17               None               1867
5      5           5         18               None               1860
6      6           6         19               None               1859
7      7           7         20               None               1860
8      8           8         21               None               1859
9      9           9         22               None               1881

   object_end_date                         credit_line        country  \
0             1853  Gift of Heinz L. Stoppelmann, 1979  United States
1             1876  Gift of Heinz L. Stoppelmann, 1979  United States
2             1700     Gift of Mrs. Russell Sage, 1916         Mexico
3             1900     Gift of Mrs. Russell Sage, 1916         Mexico
4             1867     Gift of Mrs. Russell Sage, 1916         Mexico
5             1860     Gift of Mrs. Russell Sage, 1916         Mexico
6             1859     Gift of Mrs. Russell Sage, 1916         Mexico
7             1860     Gift of Mrs. Russell Sage, 1916         Mexico
8             1859     Gift of Mrs. Russell Sage, 1916         Mexico
9             1881     Gift of Mrs. Russell Sage, 1916      Guatemala

  classification            medium    artist_display_name artist_display_bio  \
0          Metal              Gold  James Barton Longacre           American
1          Metal              Gold  James Barton Longacre           American
2         Silver            Silver                   None               None
3          Metal  Bronze or copper         Mexican Artist               None
4          Metal  Bronze or copper         Mexican Artist               None
5          Metal  Bronze or copper         Mexican Artist               None
6          Metal  Bronze or copper                   None               None
7          Metal  Bronze or copper                   None               None
8          Metal  Bronze or copper                   None               None
9         Silver            Silver                   None               None

      culture object_name                                               link  \
0        None        Coin   http://www.metmuseum.org/art/collection/search/1
1        None        Coin  http://www.metmuseum.org/art/collection/search/12
2     Mexican        Coin  http://www.metmuseum.org/art/collection/search/15
3     Mexican        Peso  http://www.metmuseum.org/art/collection/search/16
4     Mexican        Peso  http://www.metmuseum.org/art/collection/search/17
5     Mexican        Peso  http://www.metmuseum.org/art/collection/search/18
6     Mexican        Peso  http://www.metmuseum.org/art/collection/search/19
7     Mexican        Peso  http://www.metmuseum.org/art/collection/search/20
8     Mexican        Peso  http://www.metmuseum.org/art/collection/search/21
9  Guatemalan        Coin  http://www.metmuseum.org/art/collection/search/22

   acq_year Class_General         region
0    1979.0         Metal  North America
1    1979.0         Metal  North America
2    1916.0        Silver  Latin America
3    1916.0         Metal  Latin America
4    1916.0         Metal  Latin America
5    1916.0         Metal  Latin America
6    1916.0         Metal  Latin America
7    1916.0         Metal  Latin America
8    1916.0         Metal  Latin America
9    1916.0        Silver  Latin America

In [ ]:
bubble = pd.read_sql('SELECT `region`, `country`, Count(*) AS count_value FROM Final_Data Group by `region`, `country` ', con = engine)
print(bubble.head(10))

In [ ]:
distinct = pd.read_sql('SELECT DISTINCT `region` FROM Final_Data', con = engine)

In [ ]:
test = pd.read_sql('SELECT * FROM Final_Data LIMIT 2 ', con = engine)
print(test)

In [ ]:
# summary
summary = pd.read_sql('SELECT `region`, `object_begin_date`, Count(*) AS count_value FROM Final_Data Group by `region`, `object_begin_date` ', con = engine)
print(summary.head(10))

In [ ]:
# subset
subset = pd.read_sql("SELECT * FROM Final_Data WHERE country = 'United States'", con = engine)
print(subset.head(10))

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data WHERE country IS NOT NULL AND acq_year IS NOT NULL GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
years = pd.read_sql("SELECT * FROM years", con = engine)
print(years)

In [ ]:
timeseries = pd.read_sql("SELECT `country`, `acq_year`, COUNT(*) as count FROM Final_Data GROUP BY country, acq_year ORDER BY country, acq_year", con = engine)
print(timeseries.head(10))

In [ ]:
table_donation = pd.read_sql("SELECT * FROM table_donation LIMIT 10", con = engine)
print(table_donation)

In [11]:
donation = pd.read_sql("SELECT * FROM donation_data", con = engine)
print(donation)

           country  year  count
0      Afghanistan  1870      0
1      Afghanistan  1871      0
2      Afghanistan  1872      0
3      Afghanistan  1873      0
4      Afghanistan  1874      0
5      Afghanistan  1875      0
6      Afghanistan  1876      0
7      Afghanistan  1877      0
8      Afghanistan  1878      0
9      Afghanistan  1879      0
10     Afghanistan  1880      0
11     Afghanistan  1881      0
12     Afghanistan  1882      0
13     Afghanistan  1883      0
14     Afghanistan  1884      0
15     Afghanistan  1885      0
16     Afghanistan  1886      0
17     Afghanistan  1887      0
18     Afghanistan  1888      0
19     Afghanistan  1889      0
20     Afghanistan  1890      0
21     Afghanistan  1891      2
22     Afghanistan  1892      0
23     Afghanistan  1893      0
24     Afghanistan  1894      0
25     Afghanistan  1895      0
26     Afghanistan  1896      0
27     Afghanistan  1897      0
28     Afghanistan  1898      0
29     Afghanistan  1899      1
...            ...   ...    ...
19936     Zimbabwe  1989      0
19937     Zimbabwe  1990      0
19938     Zimbabwe  1991      0
19939     Zimbabwe  1992      0
19940     Zimbabwe  1993      0
19941     Zimbabwe  1994      0
19942     Zimbabwe  1995      0
19943     Zimbabwe  1996      0
19944     Zimbabwe  1997      0
19945     Zimbabwe  1998      0
19946     Zimbabwe  1999      0
19947     Zimbabwe  2000      0
19948     Zimbabwe  2001      4
19949     Zimbabwe  2002      0
19950     Zimbabwe  2003      0
19951     Zimbabwe  2004      0
19952     Zimbabwe  2005      0
19953     Zimbabwe  2006      0
19954     Zimbabwe  2007      0
19955     Zimbabwe  2008      0
19956     Zimbabwe  2009      0
19957     Zimbabwe  2010      0
19958     Zimbabwe  2011      0
19959     Zimbabwe  2012      0
19960     Zimbabwe  2013      0
19961     Zimbabwe  2014      2
19962     Zimbabwe  2015      0
19963     Zimbabwe  2016      0
19964     Zimbabwe  2017      0
19965     Zimbabwe  2018      0

[19966 rows x 3 columns]

In [ ]:
countries_count = pd.read_sql("SELECT COUNT(DISTINCT country) FROM Final_Data", con = engine)
print(countries_count)

In [ ]:
join_test = pd.read_sql("SELECT MIN(acq_year FROM final_data)", con = engine)
print(join_test.head(10))

In [ ]:
table_sizes = pd.read_sql("SELECT table_schema as `Database`, table_name AS `Table`, round(((data_length + index_length) / 1024 / 1024), 2) `Size in MB` FROM information_schema.TABLES ORDER BY (data_length + index_length) DESC", con = engine)

In [ ]:
table_sizes['Size in MB'].sum()